RemoteSystemsTempFiles/
.vscode/
**/.project
**/.cproject
**/.ccsproject
**/.clangd
**/.settings/
**/targetConfigs/
**/.theia/
**/*.theia-workspace
headers/
**/Debug/
Release/
.xdchelp
.config/
.launches/
.settings/
**/*.cmd
.jxbrowser-data/
doxygen/html/
*.lnk
CMakeLists.txt
docs/html/

*.exe
*.out
*.app
.i86
*.x86_64
*.hex

*.dll
*.so
*.dylib

*.lib
*.a
*.la
*.lo

*.gch
*.pch

*.o
*.ko
*.obj
*.elf
/.metadata/
